// colors for index//
$primary-color: rgb(253, 171, 183);
$secundary-color: rgb(245, 232, 232);
// colors for magic//
$primary-color1: rgb(167, 51, 151);
$secundary-color1: rgb(236, 223, 148);
// colors for writting //
$primary-color2: rgb(153, 43, 16);
$secundary-color2: rgb(235, 185, 139);
//colors for orientation //
$primary-color3: rgb(40, 75, 70);
$secundary-color3: rgb(199, 235, 233);
//color for advice //
$primary-color4: rgb(231, 217, 13);
$secundary-color4: rgb(111, 114, 57);
// font size//
$desktop-tittle: 50px;
$desktop-subtittle: 18px;
$desktop-text:14px;