* {
  padding: 0;
  margin: 0;
  font-family: "Reddit Mono", monospace;
}

header {
  height: 30vh;
  background-color: rgb(253, 171, 183);
}
header h1 {
  padding: 20px 0px 5px 50px;
  color: rgb(245, 232, 232);
  font-size: 50px;
}
header p {
  padding: 0 0 0 50px;
  font-size: 18px;
}

main {
  height: 60vh;
  background-color: rgb(245, 232, 232);
}

footer {
  height: 10vh;
  background-color: rgb(253, 171, 183);
  color: rgb(245, 232, 232);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  margin: 0;
  font-size: 18px;
}

#hero {
  display: grid;
  height: 100%;
  grid-template-rows: 15% 40% 40%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "tittle tittle" "magic writting" "advice orientation";
}
#hero h2 {
  font-size: 18px;
}
#hero div {
  grid-area: tittle;
  margin: 20px;
}
#hero #magic {
  grid-area: magic;
}
#hero #writting {
  grid-area: writting;
}
#hero #advice {
  grid-area: advice;
}
#hero #orientation {
  grid-area: orientation;
}
#hero .cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  text-align: center;
}
#hero .cat button {
  border-color: rgb(255, 255, 255);
  background-color: rgb(230, 52, 82);
  color: rgb(245, 232, 232);
  padding: 10px;
  margin-top: 8px;
}
#hero .cat h3 {
  font-size: 18px;
}
#hero .cat p {
  font-size: 14px;
}

.magic_header {
  background-color: rgb(167, 51, 151);
  color: rgb(236, 223, 148);
}
.magic_header button {
  margin: 10px 30px;
  padding: 10px;
  background-color: rgb(236, 223, 148);
  border-color: white;
}

.magic_main {
  background-color: rgb(216, 184, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.magic_main img {
  height: 70%;
  margin-bottom: 10px;
}
.magic_main #nameAsking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.magic_main #nameAsking #button {
  background-color: rgb(167, 51, 151);
  padding: 10px;
  color: rgb(236, 223, 148);
  margin: 5px;
}
.magic_main #questions {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.magic_main #questions #button {
  background-color: rgb(167, 51, 151);
  padding: 10px;
  color: rgb(236, 223, 148);
  margin: 5px;
}

.magic_footer {
  background-color: rgb(167, 51, 151);
  color: rgb(236, 223, 148);
}

.orientation_header {
  background-color: rgb(40, 75, 70);
  color: rgb(199, 235, 233);
}
.orientation_header button {
  margin: 10px 30px;
  padding: 10px;
  background-color: rgb(199, 235, 233);
  border-color: white;
}

.orientation_main {
  background-color: rgb(186, 243, 243);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.orientation_main .personal {
  padding: 20px;
}
.orientation_main .personal #options {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.orientation_main .personal #options #magic {
  background-color: rgb(167, 51, 151);
  color: rgb(236, 223, 148);
}
.orientation_main .personal #options #cathspiare {
  background-color: rgb(153, 43, 16);
  color: rgb(235, 185, 139);
}
.orientation_main .personal #options #ariel {
  background-color: rgb(40, 75, 70);
  color: rgb(199, 235, 233);
}
.orientation_main .personal #options #miau {
  background-color: rgb(231, 217, 13);
  color: rgb(80, 83, 29);
}
.orientation_main .personal #options button {
  padding: 10px;
  border-color: white;
}
.orientation_main .personal #information {
  display: flex;
  flex-direction: column;
}
.orientation_main .personal #information .description {
  display: flex;
}
.orientation_main .personal #information .description p {
  font-size: 14px;
  margin-top: 5px;
}
.orientation_main .personal #information .description h3 {
  margin: 10px;
  font-size: 18px;
}
.orientation_main .personal #information .description .data {
  margin: 5px 10px;
  font-size: 14px;
}
.orientation_main .owner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.orientation_main .owner img {
  height: 50vh;
}
.orientation_main .owner h2 {
  font-size: 14px;
}

.orientation_footer {
  background-color: rgb(40, 75, 70);
  color: rgb(199, 235, 233);
}

.writting_header {
  background-color: rgb(153, 43, 16);
  color: rgb(235, 185, 139);
}
.writting_header button {
  margin: 10px 30px;
  padding: 10px;
  background-color: rgb(235, 185, 139);
  border-color: white;
}

.writting_main {
  background-color: rgb(243, 159, 159);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60vh;
  grid-template-areas: "question answer";
}
.writting_main .question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.writting_main .question h2 {
  font-size: 18px;
  color: rgb(153, 43, 16);
}
.writting_main .question img {
  height: 70%;
  margin: 10px;
}
.writting_main .question #wordsAsking {
  display: none;
  flex-direction: row;
}
.writting_main .question #wordsAsking label {
  margin-right: 10px;
  text-align: center;
}
.writting_main .question #wordsAsking .button {
  background-color: rgb(153, 43, 16);
  padding: 10px;
  color: rgb(235, 185, 139);
  margin: 5px;
}
.writting_main #nameAsking {
  display: flex;
  flex-direction: row;
}
.writting_main #nameAsking label {
  margin-right: 10px;
  text-align: center;
}
.writting_main #nameAsking .button {
  background-color: rgb(153, 43, 16);
  padding: 10px;
  color: rgb(235, 185, 139);
  margin: 5px;
}

.answer {
  grid-area: answer;
  background-color: black;
  font-family: monospace;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
}
.answer #answers {
  display: flex;
  justify-content: center;
  border-right: 4px solid;
  flex-wrap: wrap;
  width: 40ch;
}

.writting_footer {
  background-color: rgb(153, 43, 16);
  color: rgb(235, 185, 139);
}

/*# sourceMappingURL=main.css.map */
