.magic_header{
    background-color: $primary-color1;
    color: $secundary-color1;
    button{
        margin: 10px 30px;
        padding: 10px;
        background-color: $secundary-color1;
        border-color: white;
    }
}
.magic_main{
    background-color: rgb(216, 184, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
        height: 70%;
        margin-bottom: 10px;
    }
    #nameAsking{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        #button{
            background-color: $primary-color1;
            padding: 10px;
            color: $secundary-color1;
            margin: 5px;
        }
    }
    #questions{
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        #button{
            background-color: $primary-color1;
            padding: 10px;
            color: $secundary-color1;
            margin: 5px;
        }
    }  
    
}
.magic_footer{
    background-color: $primary-color1;
    color:$secundary-color1
}